html, body {
  height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.display {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #7c5063;
  
  padding: 25px
}

.heading {
  display: flex;
  justify-content: space-around;
  border-top: 5px solid #7c5063;
  background-color: rgba(168, 170, 159, 0.5)
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}

.display-image img {
  display: block;
  height: 100px;
  width: auto;
  
}

.display-song p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  
}

.display-artist p {
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}


.display-link a {
  display: block;
  font-size: 18px;
  height: 100px;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.form {
  width: 75%;
  margin: 0 auto 20px auto;
  font-size: 18px;
}

input {
  padding: 5px 10px;
  font-size: 14px;
  color: black;
  font-family: 'Lato', sans-serif;
}

button {
  font-size: 14px;
  padding: 5px 10px;
  color: #000000;
  font-family: 'Lato', sans-serif;
}

body {
  background: url(https://e1.pxfuel.com/desktop-wallpaper/200/359/desktop-wallpaper-aesthetic-minimalist-minimalist-aesthetic-pc.jpg);
color: #7c5063;
}

h4{
  color: #ffffff;
}
